<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Wordpad!</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>{{ name }}</h1>
    <p id="prompt">Prompt appears here</p>
    <input id="gameId" style="display: none;" value="{{ gameId }}"></input>
    <input id="dataField" autofocus="autofocus"></input>
    <button onclick="sendAnswer()">Send Answer</button>

    <table id="scoreTable">
        <tr>
            <td id="name"><b>Name</b></td>
            <td id="score"><b>Score</b></td>
            <td id="answer"><b>Answer</b></td>
        </tr>
    </table>

    <script>
        // submit the answer when someone hits enter
        document.getElementById('dataField').addEventListener('keypress', function(event) {
            // Check if the key pressed is Enter
            if (event.key === "Enter" || event.keyCode === 13) {
                sendAnswer();
            }
        });
    </script>
</body>
</html>
